        .subscribe_btn{
            background-color: rgb(200, 0, 0);
            color: white;
            border: none;
            height: 36px;
            width: 105px;
            border-radius: 2px;
            cursor: pointer;
            margin-left: 8px;
            transition: opacity 0.15s;
        }


        .join_btn{
            margin-left : 8px;
            background-color: white;
            border-color: rgb(41, 118, 211);
            border-style: solid;
            border-width: 1px;
            color: rgb(41, 118, 211);
            height: 36px;
            width: 62px;
            border-radius: 2px;
            cursor: pointer;
            transition: background-color 0.15s, color 0.15s;
        }   

        .tweet_btn{
            margin-left: 8px;
            background-color: rgb(2, 158, 255);
            border: none;
            color: white;
            height: 36px;
            width: 74px;
            border-radius: 18px;
            cursor: pointer;
            border-radius: 8px;
            font-weight: bold;
            font-size: 15px;
            transition: opacity 0.15s, box-shadow 0.15s;
        }

        .subscribe_btn:hover{
            /* background-color: rgb(200, 0, 0); */
            opacity: 0.7;

        }
        .subscribe_btn:active{
            opacity: 0.4;
        }


        .join_btn:hover{
            background-color: rgb(41, 118, 211);
            color: white;
        }
        .join_btn:active{
            opacity: 0.7;
        }


        .tweet_btn:hover{
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        }
        .tweet_btn:active{
            opacity: 0.7;
        }
